# CMake build directories
/build/
*/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

# Other things we've found
orionengine/
.cache
bin/
debug/
.pyc

# Compiled object files
*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.lib

# Executables
*.exe
*.out

# Temporary files
*.tmp
*.temp
*.log

# User-specific files
*.user
*.swo
*.swp

# Coverage reports
*.gcda
*.gcno

# Other files
*.DS_Store
Thumbs.db
